@media screen and (min-width: 1100px) {
  .inner {
    max-width: 1100px;
  } 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

section {
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.roadmap_container {
  width: 100%;
  margin: 2rem 0;
  overflow: overlay;
}

.roadmap_container::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
  height: 10px;
}

.roadmap_container::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #217af4; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

.roadmap_container::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.roadmap_title_container {
  width: 100%;
  align-items: center;
}

.roadmap_title {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'TmoneyRoundWindExtraBold';
}

.class_list {
  display: flex;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 1rem;
}

.class_card {
  width: 240px;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
  position: relative; top: 0px; transition: top 0.2s;
}

.class_card:hover {
  top: -3px;
}

.class_img {
  width: 240px;
  border-radius: 10px 10px 0 0;
  height: 150px;
  object-fit: cover;
}

.gbsw_img {
  width: 240px;
  border-radius: 10px 10px 0 0;
  height: 150px;
  object-fit: contain;
}

.class_container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.class_skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class_type {
  font-size: 0.7rem;
  font-family: 'TmoneyRoundWindExtraBold';
}

.class_format {
  font-size: 0.7rem;
  background-color: #2ab1ff;
  color: #fff;
  padding: 0.2rem;
  font-family: 'TmoneyRoundWindExtraBold';
}

.class_desc {
  margin-top: 1rem;
  width: 100%;
}

.class_title {
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'TmoneyRoundWindExtraBold';
}

.employment_container::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
  height: 10px;
}

.employment_container::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #217af4; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

.employment_container::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.employment_container {
  width: 100%;
  overflow: overlay;
}

.employment_title_container {
  width: 100%;
  align-items: center;
}

.employment_title {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'TmoneyRoundWindExtraBold';
}

.employ_list {
  display: flex;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 1rem;
}

.employ_card {
  width: 240px;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 10px;
  margin: 0 10px;
}

.employ_title {
  font-weight: bold;
  text-align: center;
  font-family: 'TmoneyRoundWindExtraBold';
}