@font-face {
  font-family: 'Giants-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

a {
  all: unset;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #8e8d8d;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  background-color: #fff;
  font-family: 'Giants-Bold';
}

.head_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head_container .head_brand > a{
  font-weight: bold;
  font-size: 1.2rem;
}

.head_container .head_brand > a:hover {
  color: #2ab1ff;
  cursor: pointer;
}

.head_container .head_logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #8E8d8d;
  cursor: pointer;
}

.head_logo:hover {
  color: #2ab1ff;
}

@media screen and (min-width: 1100px) {
  .inner {
    max-width: 1100px;
  } 
}