* {
  box-sizing: border-box;
}

#body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a {
  all: unset;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #8e8d8d;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  background-color: #fff;
  transition: .2s ease;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}

#dark-theme {
  background-color: #333;
  color: #fff;
}

.head_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head_container .head_brand > a{
  font-weight: bold;
  font-size: 1.2rem;
}

.head_container .head_brand > a:hover {
  color: #2ab1ff;
  cursor: pointer;
}

.head_container .head_logo {
  font-size: 1.7rem;
  cursor: pointer;
}

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.main {
  height: 360px;
  background-image: url("../imgs/gbsw/school.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  background-position: 0 30%;
  z-index: 1;
  font-family: 'TmoneyRoundWindExtraBold';
}

.main_container {
  width: 100%;
  height: 100%;
  background-color: rgb(67, 102, 135);
  opacity: 0.8;
  z-index: 2;
}

.title_container {
  padding-top: 100px;
  color: #fff;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

.message {
  font-size: 1.7rem;
}

.skill_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill {
  width: 25%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0 1rem 0.5rem 1rem;
  box-shadow: 10px 10px 10px -5px rgb(25, 42, 70, 0.2);
  position: relative; top: 0px; transition: top 0.2s;
  cursor: pointer;
  font-family: 'TmoneyRoundWindExtraBold';
}

.skill_title {
  color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 0.2rem;
}

.skill_name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.skill_usage {
  font-size: 0.7rem;
}

.skill:hover {
  top: -4px;
}

.skill_icon {
  font-size: 2rem;
  margin: 0 10px;
}

#medal_style {
  color: gold;
}

#film_style {
  color: gray;
}

.insta_style {
  width: 2rem;
  margin: 0 10px;
}

.sowon {
  width: 2rem;
  margin: 0 10px;
}

.skill_title {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 0.2rem;
}

.skill_name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.skill_usage {
  font-size: 0.7rem;
}

.roadmap_container {
  width: 100%;
  margin: 2rem 0;
}

.roadmap_title_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roadmap_title {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'TmoneyRoundWindExtraBold';
}

.class_list {
  display: flex;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 1rem;
}

.class_card {
  width: 240px;
  color: black;
  background-color: #fff;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 10px;
  margin: 0 10px;
  position: relative; top: 0px; transition: top 0.2s;
}

.class_card:hover {
  top: -4px;
}

.class_img {
  width: 240px;
  border-radius: 10px 10px 0 0;
  height: 150px;
  object-fit: cover;
}

.class_container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.class_skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class_type {
  font-size: 0.7rem;
  font-family: 'TmoneyRoundWindExtraBold';
}

.class_format {
  font-size: 0.7rem;
  background-color: #2ab1ff;
  color: #fff;
  padding: 0.2rem;
  font-family: 'TmoneyRoundWindExtraBold';
}

.class_desc {
  margin-top: 1rem;
  width: 100%;
}

.class_title {
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'TmoneyRoundWindExtraBold';
}

footer {
  width: 100%;
  height: 75px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.git {
  width: 45px;
  transition: .2s ease-in-out;
}

.git:hover {
  cursor: pointer;
  filter: invert(45%) sepia(7%) saturate(4777%) hue-rotate(194deg) brightness(89%) contrast(80%);
}

@media all and (max-width:767px) {
  .title {
    display: none;
  }

  .message {
    display:  none;    
  }

  .skill_container {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    width: 65%; /* 한 줄에 2개의 아이템이 나오도록 설정 */
    box-sizing: border-box; 
  }

  .roadmap_container {
    width: 100%;
    margin: 2rem 0;
    overflow: overlay;
  }

  .roadmap_container::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
    height: 10px;
  }
  
  .roadmap_container::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    border-radius: 10px;
  }
  
  .roadmap_container::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
  }
}

@media all and (min-width:768px) and (max-width:1023px) {
  .title {
    font-size: 2.5rem;
  }

  .skill_container {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    width: 30%; /* 한 줄에 2개의 아이템이 나오도록 설정 */
    box-sizing: border-box; 
  }

  .roadmap_container {
    width: 100%;
    margin: 2rem 0;
    overflow: overlay;
  }

  .roadmap_container::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
    height: 10px;
  }
  
  .roadmap_container::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    border-radius: 10px;
  }
  
  .roadmap_container::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
  }
}

@media screen and (min-width: 1100px) {
  .inner {
    max-width: 1100px;
  } 
}



.dark_mode {
  background-color: #333;
  color: #fff;
}

.light_mode {
  background-color: #fff;
  color: #333;
}